<div class="container mt-4">
  <h2>Firestore</h2>
  <form #f="ngForm" (ngSubmit)="add(f)">
    <div class="form-group">
      <label for="body">Todo</label>
      <input minlength="3" class="form-control" ngModel name="body" required />
    </div>
    <button [disabled]="f.invalid" type="submit" class="btn btn-outline-primary mt-2">
      Add
    </button>
  </form>
  <ul class="list-group overflow-x-hidden mt-4">
    <ng-container *ngIf="todos$ | async; else loading">
      <li @slideFaded *ngFor="let todo of todos$ | async; trackBy: trackById" class="list-group-item">
        <h5>{{ todo.body }}</h5>
        <button (click)="delete(todo)" class="btn btn-outline-danger my-2">
          Delete
        </button>
      </li>
      <li *ngIf="(todos$ | async)?.length === 0" class="list-group-item">
        No todos found
      </li>
    </ng-container>
    <ng-template #loading>
      <li class="list-group-item">
        <b-spinner></b-spinner>
      </li>
    </ng-template>
  </ul>
</div>
