<div class="container mt-4">
  <h2>Firestore</h2>
  <form #f="ngForm" (ngSubmit)="add(f)">
    <div class="form-group">
      <label for="body">Todo</label>
      <input minlength="3" class="form-control" ngModel name="body" required />
    </div>
    <button [disabled]="f.invalid" type="submit" mat-raised-button color="primary" class="mt-2">
      Add
    </button>
  </form>
  <ul @fireAnimations *ngIf="todos$ | async as todos; else loading" class="list-group overflow-x-hidden mt-4">
    <li @todoAnimation *ngFor="let todo of todos; trackBy: trackById" class="list-group-item">
      <h4>{{ todo.body }}</h4>
      <button mat-stroked-button color="warn" (click)="delete(todo)" class="my-2">
        Delete
      </button>
    </li>
    <li *ngIf="(todos$ | async)?.length === 0" class="list-group-item">
      No todos found
    </li>
  </ul>
  <ng-template #loading>
    <ul class="list-group mt-4">
      <li class="list-group-item">
        <b-spinner></b-spinner>
      </li>
    </ul>
  </ng-template>
</div>
