<div class="container">
  <form #f="ngForm" (ngSubmit)="addPost(f)">
    <div class="form-group mt-4">
      <label for="post-title">Post Title</label>
      <input required class="form-control" id="post-title" name="title" ngModel #title="ngModel" />
    </div>
    <button type="submit" [disabled]="f.invalid" color="primary" mat-raised-button>Add Post</button>
  </form>
  <ul class="list-group my-4">
    <li *ngIf="posts.length === 0" class="list-group-item">
      <b-spinner></b-spinner>
    </li>
    <li *ngFor="let post of posts" class="my-2 list-group-item">
      <h4>{{post.title}}</h4>
      <article class="my-3">
        {{post.body}}
      </article>
      <button color="primary" class="mr-2" mat-raised-button (click)="updatePost(post)">Update Post</button>
      <button color="warn" mat-button (click)="deletePost(post)">Delete Post</button>
    </li>
  </ul>
</div>
