/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Barlow, "Helvetica Neue", sans-serif;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.hw-accelerate {
  transform: translateZ(0), rotateZ(360deg);
  backface-visibility: hidden;
  perspective: 1000;
}

button:focus {
  outline: 0;
}
