<div class="container">
  <h2 class="mt-4">Home Page</h2>
  <ul class="list-group">
    <li *ngFor="let archive of archives" class="my-1 list-group-item">
      <a [routerLink]="['/archive', archive.year, archive.month]">
        {{archive.year}}/{{archive.month}}
      </a>
    </li>
  </ul>
  <button mat-button color="primary">Hello</button>
  <!-- <form #f="ngForm" (ngSubmit)="add(f.value.name); f.reset()" class="form-group">
    <input required minlength="3" name="name" ngModel #itemAdd="ngModel" class="form-control" type="text">
    <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Add</button>
  </form>
  <ul class="list-group">
    <li *ngFor="let item of items$ | async" class="my-1 list-group-item">
      {{item}}
    </li>
  </ul> -->
</div>
